<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SÉRIE</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="tudo">
    <ul>
        <li><a href="/serie/adicionar">Adicionar</a></li>
        <li><a href="/serie/listar">Listar</a></li>
    </ul>